body {
  background-color: white;
  margin: 0;
  min-width: 225px;
  padding: 1em;
}

.container {
  font-size: 16px;
}

.container h1 {
  white-space: nowrap;
}

.edlnkr-links {
  margin: 5px auto;
  text-align: center;
}

.edlnkr-links a {
  color: rgb(98, 109, 235);
  padding: 3px;
}

.edlnkr-links a:hover {
  color: rgb(238, 36, 201);
  text-decoration: none;
}

.ext-header {
  text-align: center;
}
