body {
  margin: 0;
  background-color: white;
  padding: 1em;
}

.container {
  font-size: 16px;
}

.container h1 {
  white-space: nowrap;
}

.edlnkr-links a {
  color: rgb(98, 109, 235);
}

.edlnkr-links a:hover {
  color: rgb(238, 36, 201);
  text-decoration: none;
}

